<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "logos/adopt-a-drain.png", :alt => "nfk adopt-a-drain logo", :title => "nfk adopt-a-drain logo" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Thank you for adopting a storm drain in Fairmount Park and keeping it clear of litter and debris! You are joining your neighbors in helping to reduce flood risk, improve water quality, and beautify your neighborhood. 
  </p>

  <h2 style="font-size: 1.05em">How to Care For Your Adopted Drain</h2>

  <ul>
    <li>
      Check your drain(s) twice a month and before rain events, if possible
    </li>
    <li>
      Clean about 10 feet on both sides of the drain.
    </li>
    <li>
      Have separate bags for trash and recyclables.
    </li>
    <li>
      Place bags in your bins for regular pick-up.
    </li>
    <li>
      Let us know when you’ve tended to your drain by signing in to your account, clicking the icon above your drain, and clicking ‘check-in’.
    </li>
  </ul>

  <h2 style="font-size: 1.05em">Drain Cleaning Safety Tips</h2>

  <ul>
    <li>
      Never try to reach inside of the drain or lift the drain grate.
    </li>
    <li>
      Wear gloves and be careful of sharp objects. 
    </li>
    <li>
      Use a rake, broom, or trash picker.
    </li>
    <li>
      Wear reflective clothing so vehicles can see you.
    </li>
    <li>
      If your drain is clogged beneath the grate, or you need to report major issues with your drain, call the Norfolk Cares line at 664-6510.
    </li>
  </ul>


  <p>
    Thanks again, <%= @user.name.split.first %>, for adopting a storm drain in Fairmount Park and building resilience in your neighborhood!
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    Norfolk <a href="https://www.norfolk.gov/resilience">Adopt a Drain</a> Team
    <br />
    <a href="tel:757-441-2602">757-441-2602</a>
    <br />
    <a href="mailto:adoptstormdrain@norfolk.gov">adoptstormdrain@norfolk.gov</a>
  </p>

  <p>
    <em>
      Remember, the City of Norfolk won't be held responsible
      for anything that happens to you or others in service of maintaining your
      drain. Please be careful.
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please abandon it on
    <a href="https://norfolkdrains.herokuapp.com/">https://norfolkdrains.herokuapp.com/</a>. Thank you.
  </p>

  <p>
    <a href="https://www.facebook.com/NorfolkVA/" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "City of Norfolk facebook", :title => "City of Norfolk facebook" %>
    </a>
    &nbsp;
    <a href="https://twitter.com/NorfolkVA" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "City of Norfolk twitter", :title => "City of Norfolk twitter" %>
    </a>
    &nbsp;
    <a href="https://www.instagram.com/cityofnorfolkva/" style="text-decoration:none !important;">
      <%= image_tag "icons/instagram.png", :alt => "City of Norfolk instagram", :title => "City of Norfolk instagram" %>
    </a>
    &nbsp;
    <a href="https://www.youtube.com/user/NorfolkTV" style="text-decoration:none !important;">
      <%= image_tag "icons/youtube.png", :alt => "City of Norfolk youtube", :title => "City of Norfolk youtube" %>
    </a>
    &nbsp;
    <a href="https://www.linkedin.com/company/city-of-norfolk" style="text-decoration:none !important;">
      <%= image_tag "icons/linkedin.png", :alt => "City of Norfolk linkedin", :title => "City of Norfolk linkedin" %>
    </a>
  </p>
</td></tr></table>
