<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "logos/adopt-a-drain.png", :alt => "nfk adopt-a-drain logo", :title => "Norfolk adopt-a-drain logo" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Wow! Thank you for adopting another drain.
  </p>
  <p>
    Use social media to spread the word! Be sure to tag us @NorfolkVA and use the
    hashtags #DrainHero, #AdoptADrain and #NFKDrains in your posts.
  </p>
 
  <p>
    As always, please let us know if you have any feedback or questions about
    this program. We would love to hear from you.
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    Norfolk <a href="https://norfolkdrains.code4hr.org/">Adopt a Drain</a> Team
    <br />
    <a href="tel:757-441-2602">757-441-2602</a>
    <br />
    <a href="mailto:adoptstormdrain@norfolk.gov">adoptstormdrain@norfolk.gov</a>
  </p>

  <p>
    <em>
      Remember, the City of Norfolk won't be held responsible
      for anything that happens to you or others in service of maintaining your
      drain. Please be careful.
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please abandon it on
    <a href="norfolkdrains.code4hr.org">https://norfolkdrains.code4hr.org</a>. Thank you.
  </p>

  <p>
    <a href="https://facebook.com/NorfolkVA" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "City of Norfolk facebook", :title => "City of Norfolk facebook" %>
    </a>
    &nbsp;
    <a href="https://twitter.com/NorfolkVA" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "City of Norfolk twitter", :title => "City of Norfolk twitter" %>
    </a>
    &nbsp;
    <a href="https://www.instagram.com/cityofnorfolkva/" style="text-decoration:none !important;">
      <%= image_tag "icons/instagram.png", :alt => "City of Norfolk instagram", :title => "City of Norfolk instagram" %>
    </a>
    &nbsp;
    <a href="https://www.youtube.com/user/NorfolkTV" style="text-decoration:none !important;">
      <%= image_tag "icons/youtube.png", :alt => "City of Norfolk youtube", :title => "City of Norfolk youtube" %>
    </a>
    &nbsp;
    <a href="https://www.linkedin.com/company/city-of-norfolk" style="text-decoration:none !important;">
      <%= image_tag "icons/linkedin.png", :alt => "City of Norfolk linkedin", :title => "City of Norfolk linkedin" %>
    </a>
  </p>
</td></tr></table>
